 [Unit]
 Description=Homeassistant Temperature and Humidity Sensor Daemon
 After=multi-user.target

 [Service]
 Type=simple
 Restart=on-failure
 User=pi
 Group=pi
 WorkingDirectory=/home/pi
 ExecStart=/usr/bin/python3 ha-temp-hum-sensor.py

 [Install]
 WantedBy=multi-user.target
